<div class="form-group">
    <label for="auditSelect">Sélectionnez un audit :</label>
    <select id="auditSelect" class="form-control" [(ngModel)]="selectedAuditId" (change)="onAuditChange()">
        <option *ngFor="let audit of audits" [value]="audit.id">{{ audit.nomAudit }}</option>
    </select>
</div>

<!-- Afficher les détails du programme d'audit -->
<div *ngIf="programmeAudits.length > 0">
    <h3>Programme d'audit pour l'audit sélectionné :</h3>
    <ul>
        <li *ngFor="let programmeAudit of programmeAudits">
            {{ programmeAudit.title }} - {{ programmeAudit.description }}
        </li>
    </ul>
</div>

<!-- Afficher un message si aucun programme d'audit trouvé -->
<div *ngIf="programmeAudits.length === 0 && !is_loading">
    Aucun programme d'audit trouvé pour l'audit sélectionné.
</div>

<!-- Afficher un spinner de chargement pendant le chargement -->
<div *ngIf="is_loading">
    Chargement en cours...
</div>

