<div *ngIf="constats.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type Constat ID</th>
            <th>Checklist ID</th>
            <th>Constat</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let constat of constats">
            <td>{{ constat.id }}</td>
            <td>{{ constat.typeConstatId }}</td>
            <td>{{ constat.checklistId }}</td>
            <td>{{ constat.constat }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="constats.length === 0">
    <p>Aucun constat disponible.</p>
</div>
